<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音乐库</title>
    <link rel="stylesheet" href={% static '/pkg/bootstrap-4.6.2-dist/css/bootstrap.min.css' %}>

    <link rel="stylesheet" href={% static '/css/office/index.css' %}>
    <script src={% static '/pkg/jquery-3.6.0/jquery-3.6.0.min.js' %}></script> <!-- 要在头部来引入 -->


</head>
<body>
    


    <!-- 导航栏   bootstrap框架 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src={% static '/assets/images/office/star3.jpg' %} alt="" class="img-logo">
        
    
        <a class="navbar-brand" href={% url 'index' %}>音站</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">音乐库<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">我的音乐</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">关于</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="搜索音乐、歌单">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>



    
     

</body>
</html>
</body>
</html>