
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音乐系统登录页</title>
    <link rel="stylesheet" href={% static '/css/office/login.css' %}>
    <!-- <link rel="stylesheet" href="css/login.css"> -->



</head>

<body>
    <div class="loginCard">
        <div class="logo">
            <img src={% static '/assets/images/office/logo.png' %} alt="" srcset="">
        </div>
        <form  method="post" >
        {% csrf_token %}
        <h2 style="text-align: center;">登录页</h2>
            <label >昵称：</label>
            {{ forms.name }}
<!--            {{ form.name.errors.0 }}-->
<!--             <span style="color: red;">{{ form.name.errors.0 }}</span>-->
            <br>
            <br>
            <label >密码：</label>
            {{ forms.password }}
            <span style="color: red;">{{ forms.errors.password.0 }}</span>
            <br>
            <br>
            <div class="form-group">
                <label for="id_code">图片验证</label>
                <div class="row"></div>
                    <div class="clo-xs-7">
                        {{ forms.code }}
                        <span style="color: red;">{{ forms.errors.code.0 }}</span>
                    </div>
                <div class=""col-xs-5>
                    <img id="image_code" src='/imagco/' style="125px">
                </div>
            </div>
            <button type="submit" style="width: 100px ; margin: 0 auto;">登录</button>
            <a href={% url 'register' %}>没账号，我选择注册</a>

        </form>
    </div>

</body>

</html>