<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
</head>
<body>

  <h1>用户列表</h1>

    <table border="1">
      <thead>
        <tr>
          <th>id</th>
          <th>用户名</th>
          <th>MD5加加密后的密码</th>
          <th>操作</th>
        </tr>
      </thead>

      <tbody>
      {% for obj in userlist %}
        <tr>
          <td>{{ obj.id }}</td>
          <td>{{ obj.name }}</td>
          <td>{{ obj.password }}</td>
          <td>
            <a href="/user/delete/?nid={{ obj.id }}">删除</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>



</body>
</html>